<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Sensor Planning Service (SPS)</name>
    <version>
      <name>1.0</name>
      <suite>
        <namespace-uri>http://www.opengis.net/sps/1.0</namespace-uri>
        <prefix>sps</prefix>
        <local-name>suite</local-name>
        <title>SPS 1.0 Conformance Test Suite</title>
        <description>Checks SPS implementations for conformance to OGC 07-014r3.</description>
      </suite>
      <revision>
        <name>${project.version}</name>
        <sources>
          <source>sps/${spec-version}/ctl</source>
        </sources>
        <resources>sps/${spec-version}/resources</resources>
        <webdir>sps/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
